body {
  padding: 10px;
  background: url(/assets/background.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@font-face {
  font-family: Pokemon Solid;
  src: url(/assets/fonts/PokemonSolid.ttf);
}

h1,
h3 {
  color: #ffcc03;
  -webkit-text-stroke-color: #386abb;
  text-align: center;
  font-family: 'Pokemon Solid', sans-serif;
  paint-order: stroke fill;
}

h1 {
  font-size: 65px;
  letter-spacing: 0.7rem;
  -webkit-text-stroke-width: 3px;
}

h3 {
  font-size: 30px;
  letter-spacing: 0.3rem;
  -webkit-text-stroke-width: 1px;
}

h3 a {
  color: #386abb;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-decoration: none;
}

@-moz-document url-prefix() {
  h3,
  h3 a {
    -webkit-text-stroke-width: 3.5px;
  }
}

h3 a:hover {
  color: #ffcc03;
  -webkit-text-stroke-color: #386abb;
}

@media screen and (max-width: 650px) {
  h1 {
    margin-top: 50px;
    font-size: 40px;
    letter-spacing: 0.6rem;
    -webkit-text-stroke-width: 2px;
  }

  @-moz-document url-prefix() {
    h1 {
      -webkit-text-stroke-width: 4px;
    }
  }

  h3 {
    margin-top: 50px;
    font-size: 20px;
    letter-spacing: 0.2rem;
  }
}
